// Navbar
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  }

// Login

.login-input {
    border-radius: 0px;
    background-color: rgb(255, 255, 255);
}

.login-icon {
    border-radius: 500px;
    background-color: #212121;
    padding: 20px;
    font-size:2em;
}

.login-card {
    border-radius: 1px;
}